body {
    margin: 0;
    padding: 0;
    color: $color-base;
    font-family: 'Inter', sans-serif;
    font-weight: 500;

}

.no-scroll {
    overflow: hidden;
}

.container {
    max-width: 1260px;
    margin: 0 auto;
    padding: 0 16px;
}

.page {
    flex-grow: 1;
    padding: 55px 0 60px;
    @include bp($bp-desktop-sm) {
        padding: 75px 0 100px;
    }
}

.page-title {
    font-size: 32px;
    line-height: 36px;
    font-weight: 900;
    @include bp($bp-desktop-sm) {
        font-size: 42px;
        line-height: 48px;
        text-align: center;
    }
}



.mobile-hidden {
    @media screen and (max-width: 991px) {
        display: none !important;
    }
}

.desktop-hidden {
    @include bp($bp-desktop-sm) {
        display: none !important;
    }
}

/**** Transitions ****/
/* Fade */
.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.2s ease-in;
}
.fade-enter,
.fade-leave-to {
    opacity: 0;
}

/* Slide down */
.slide-down-enter-active,
.slide-down-leave-active {
    will-change: height, opacity;
    transition: height var(--transition-duration--slide-down) ease,
    opacity var(--transition-duration--slide-down) ease;
    overflow: hidden;
}

.slide-down-enter,
.slide-down-leave-to {
    height: 0 !important;
    opacity: 0;
}
